<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @organization.name %> Links</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
    <style>
      img#organization_logo { height:100px; }
      ul {list-style:unset; padding-left:40px; }
      span.description { left:150px; position:absolute; }
      .section { padding-top:unset; }

      <%= @organization.css %>
    </style>

    <section class='section' id='organization'>
      <% if @organization.logo_url %>
        <img src='<%= @organization.logo_url %>' id='organization_logo'>
      <% else %>
        <h1 class='title' id='organization_name'><%= @organization.name %></h1>
      <% end %>
    </section>

    <% @categories.each do |category_name| %>
      <section class="section">
        <div class="container">
          <h1 class="title category_name"><%= category_name %></h1>
          <ul>
            <% @links.select{|x| x.category == category_name}.sort.each do |link| %>
              <li class='link'>
                <span class='path'>
                  <a href='//<%= request.host_with_port%>/<%= link.path %>' target='_blank'>
                    <b><%= request.host_with_port%>/<%= link.path %></b>
                  </a>
                </span>
                <span class='empty_space'>&nbsp; &nbsp;</span>
                <span class='description'><%= link.description %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    <% end %>
  </body>
</html>
